<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.max.caddy</string>
	<key>WorkingDirectory</key>
	<string>__ROOT__</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/caddy</string>
		<string>run</string>
		<string>--config</string>
		<string>__ROOT__/Caddyfile</string>
		<string>--adapter</string>
		<string>caddyfile</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/max_caddy.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/max_caddy.log</string>
</dict>
</plist>
